<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CrudDeEscuela.Properties.Settings.Sistema_De_EscuelaConnectionString"
            connectionString="Data Source=DESKTOP-7KCM5EI\SQLEXPRESS;Initial Catalog=Sistema_De_Escuela;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="Microsoft.Data.SqlClient" />
        <add name="CrudDeEscuela.Properties.Settings.BDAlumnosConnectionString"
            connectionString="Data Source=DESKTOP-7KCM5EI\SQLEXPRESS;Initial Catalog=BDAlumnos;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="Microsoft.Data.SqlClient" />
        <add name="CrudDeEscuela.Properties.Settings.BasedeDatosAlumnosConnectionString"
            connectionString="Data Source=ILIANA\MSSQLSERVER01;Initial Catalog=BasedeDatosAlumnos;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>